#!/usr/bin/env bash

{{ if eq .chezmoi.os "linux" -}}
  . "${HOME}/.local/share/chezmoi/install-packages-linux"
{{ else if eq .chezmoi.os "darwin" -}}
  . "${HOME}/.local/share/chezmoi/install-packages-macos"
{{ end -}}
